<sp-canvas [data]="image"></sp-canvas>

@if (images && index > 0) {
  <img class="nav prev"
       [class.hidden]="!toolsVisible"
       src="/icons/arrow_left_alt_32dp.svg"
       (click)="previous()" />
}

@if (images && index < images.length - 1) {
  <img class="nav next"
       [class.hidden]="!toolsVisible"
       src="/icons/arrow_right_alt_32dp.svg" (click)="next()" />
}

<div class="tools" [class.hidden]="!toolsVisible">
  <img src="/icons/description_32dp.svg" (click)="toggleInfo()">

  <img src="/icons/zoom_in_32dp.svg" (click)="zoomIn()">
  <img src="/icons/zoom_out_32dp.svg" (click)="zoomOut()">

  @if (isPlaying) {
    <img src="/icons/stop_circle_32dp.svg" (click)="stopShow()">
  }
  @else {
    <img src="/icons/play_circle_32dp.svg" (click)="startShow()">
  }

  @if (isFullScreen) {
    <img src="/icons/fullscreen_exit_32dp.svg" (click)="restoreScreen()">
  }
  @else {
    <img src="/icons/fullscreen_32dp.svg" (click)="fullScreen()">
  }

  <img src="/icons/close_32dp.svg" (click)="close()">
</div>

@if (showInfo && imageInfo) {
  <sp-image-info class="info" [info]="imageInfo" [@infoInOut]></sp-image-info>
}
