#
# smritii (server)
#
# File & directories to be ignored. (See: http://help.github.com/ignore-files/)
#

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment
.env
